<a href="https://colab.research.google.com/github/limshaocong/analyticsEdge/blob/main/Data_Exploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [41]:
library(tidyverse)
library(ggplot2)
library(lubridate)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Warning message:
“package ‘calplot’ is not available for this version of R

A version of this package for your version of R might be available elsewhere,
see the ideas at
https://cran.r-project.org/doc/manuals/r-patched/R-admin.html#Installing-packages”

In [ ]:
path = "https://raw.githubusercontent.com/limshaocong/analyticsEdge/main/Datasets/"

# Russell 3000 tickers
tickers.path = paste0(path,"r3000_tickers.csv")

# Quiver Quant data
twitter.follower.path = paste0(path, "QuiverQuant/twitter_follower.csv")
wiki.pageviews.path = paste0(path,"QuiverQuant/wikipedia_pageviews.csv")
wsb.sentiment.path = paste0(path,"QuiverQuant/wsb_sentiment.csv")

# RavenPack Sentiment Relevance data
rp.company.index.path = paste0(path,"RavenPack_WRDS/rp_company_index.csv")
## Dow Jones new releases (2018-2021)
rp.dj.2018.path = paste0(path,"RavenPack_WRDS/rp_dj_2018.csv")
rp.dj.2019.path = paste0(path,"RavenPack_WRDS/rp_dj_2019.csv")
rp.dj.2020.path = paste0(path,"RavenPack_WRDS/rp_dj_2020.csv")
rp.dj.2021.path = paste0(path,"RavenPack_WRDS/rp_dj_2021.csv")
## Global Press releases (2018-2021)
rp.pr.2018.path = paste0(path,"RavenPack_WRDS/rp_pr_2018.csv")
rp.pr.2019.path = paste0(path,"RavenPack_WRDS/rp_pr_2019.csv")
rp.pr.2020.path = paste0(path,"RavenPack_WRDS/rp_pr_2020.csv")
rp.pr.2021.path = paste0(path,"RavenPack_WRDS/rp_pr_2021.csv")

**Exploring RavenPack Data**

In [71]:
# Import company index which allows the tickers to be mapped to RavenPack's
# internal entity index
rp.company.index = read.csv(rp.company.index.path)

# Read the 2021 Dow Jones sentiment data
rp.dj.2021 = read.csv(rp.dj.2021.path)

In [72]:
length(unique(rp.dj.2021$rp_entity_id))
rp.dj.2021$rpna_date_utc1 <- mdy(rp.dj.2021$rpna_date_utc)
last = max(rp.dj.2021$rpna_date_utc)
last

[1] 2815

[1] "9/9/2021"

In [ ]:
# Sample of Data of AAPL for 2021 Dow Jones
#
# Conclusions:
#
# 1. Data is relatively spares, with no data on most dates. Preprocess to
# fill in non-entries.
#
# 2. There are several entries which share the same "category", "relevance",
# "ess" and "date". Preprocess to aggregate repetitions.
#
# 3. There are also several entries on the same "date" that have a range of 
# "ess". Need to determine means of aggregation.
#
# 3. Many entries that have neutral sentiment (ie. ess = 50). Preprocessing
# needs to assume if absence of press release and neutral announcement should
# encoded the same.

aapl.index = rp.company.index$rp_entity_id[rp.company.index$ticker == "AAPL"]
rp.dj.2021 %>% filter(rp.dj.2021$rp_entity_id == aapl.index) %>% head(20)

   rp_entity_id category                       relevance ess rpna_date_utc
1  D8442A       analyst-ratings-change-neutral 100       51  1/5/2021
2  D8442A       price-target-upgrade           100       91  1/5/2021
3  D8442A       executive-appointment          100       54  1/5/2021
4  D8442A       executive-appointment          100       54  1/5/2021
5  D8442A       executive-appointment          100       54  1/5/2021
6  D8442A       analyst-ratings-change-neutral 100       78  1/5/2021
7  D8442A       price-target-upgrade           100       75  1/5/2021
8  D8442A       executive-salary-increase      100       44  1/6/2021
9  D8442A       executive-salary-increase      100       44  1/6/2021
10 D8442A       stock-loss                     100       40  1/6/2021
11 D8442A       stock-gain                     100       63  1/8/2021
12 D8442A       business-contract-terminated   100       31  1/10/2021
13 D8442A       business-contract-terminated   100       31  1/10/2021
14 D8442A       business-contract-terminated   100       31  1/10/2021
15 D8442A       business-contract-terminated   100       31  1/10/2021
16 D8442A       facility-open                  100       65  1/13/2021
17 D8442A       facility-open                  100       65  1/13/2021
18 D8442A       facility-open                  100       65  1/13/2021
19 D8442A       facility-open                  100       65  1/13/2021
20 D8442A       analyst-ratings-change-neutral 100       51  1/14/2021

In [ ]:
# Relevance values are limited to 20 or 100
aggregate(rp_entity_id ~ relevance, data = rp.dj.2021, FUN = length)

  relevance rp_entity_id
1  20        41202
2 100       224702

In [36]:
low.relevance = rp.dj.2021 %>% filter(rp.dj.2021$relevance == 20)
aggregate(relevance ~ rp_entity_id, data = low.relevance, FUN = length)

   rp_entity_id relevance
1  0C136E          3
2  0E64D4         26
3  12A3A3         81
4  12F98C          1
5  139303       1102
6  1E1125       2918
7  3461CF       6038
8  3B37F7        185
9  442587         67
10 50070E       1592
11 54F1D2         14
12 55018          26
13 58CA9A       2139
14 619882       2468
15 73C521          4
16 762A3E        561
17 9196A2       6849
18 95DC1F          1
19 990AD0        386
20 B3CB74       5185
21 C3BCD5         50
22 CBCC6A        782
23 CD4DA8        493
24 CFF97C       8494
25 E8846E       1737

In [30]:
prevelance = aggregate(relevance ~ rp_entity_id, data = rp.dj.2021, FUN = length)
head(prevelance[order(prevelance$relevance, decreasing = T), ], 20)

     rp_entity_id relevance
2283 CFF97C       8740
1583 9196A2       7300
574  3461CF       6281
1982 B3CB74       5400
1051 619882       3213
310  1E1125       3149
963  58CA9A       2475
858  50070E       2077
2561 E8846E       2062
186  12E454       1276
195  139303       1193
1683 990AD0        886
2228 CBCC6A        824
793  4A6F00        781
13   0157B1        750
2332 D42DBA        645
1276 762A3E        644
2246 CD4DA8        613
2443 DD3BB1        586
378  228D42        576

In [37]:
rp.dj.2021 %>% filter(rp.dj.2021$rp_entity_id == "9196A2") %>% head(20)

   rp_entity_id category                             relevance ess
1  9196A2       analyst-ratings-change-positive      100       78
2  9196A2       analyst-ratings-set-neutral-rater     20       50
3  9196A2       price-target-set-rater                20       50
4  9196A2       analyst-ratings-set-negative-rater    20       50
5  9196A2       price-target-set-rater                20       50
6  9196A2       analyst-ratings-change-neutral-rater  20       50
7  9196A2       price-target-upgrade-rater            20       50
8  9196A2       analyst-ratings-change-neutral-rater  20       50
9  9196A2       price-target-upgrade-rater            20       50
10 9196A2       analyst-ratings-change-neutral-rater  20       50
11 9196A2       price-target-upgrade-rater            20       50
12 9196A2       analyst-ratings-change-neutral-rater  20       50
13 9196A2       price-target-upgrade-rater            20       50
14 9196A2       analyst-ratings-change-neutral-rater  20       50
15 9196A2       price-target-upgrade-rater            20       50
16 9196A2       analyst-ratings-change-neutral-rater  20       50
17 9196A2       price-target-upgrade-rater            20       50
18 9196A2       analyst-ratings-change-neutral-rater  20       50
19 9196A2       price-target-upgrade-rater            20       50
20 9196A2       analyst-ratings-change-neutral-rater  20       50
   rpna_date_utc
1  1/4/2021
2  1/4/2021
3  1/4/2021
4  1/4/2021
5  1/4/2021
6  1/4/2021
7  1/4/2021
8  1/4/2021
9  1/4/2021
10 1/5/2021
11 1/5/2021
12 1/5/2021
13 1/5/2021
14 1/5/2021
15 1/5/2021
16 1/5/2021
17 1/5/2021
18 1/5/2021
19 1/5/2021
20 1/5/2021

**Exploring Twitter Follower Data**

In [55]:
twitter.follower = read.csv(twitter.follower.path)
twitter.follower$Date <- ymd(twitter.follower$Date)

In [67]:
first = min(twitter.follower$Date)
last = max(twitter.follower$Date)
last - first
paste(first, ",", last)
length(unique(twitter.follower$Ticker))

Time difference of 530 days

[1] "2020-05-02 , 2021-10-14"

[1] 1411

**Exploring r/wsb Data**

In [76]:
wsb.sentiment = read.csv(wsb.sentiment.path)
wsb.sentiment$Date <- ymd(wsb.sentiment$Date)

   Date       Ticker Mentions Rank Sentiment
1  2018-08-10 AA     1         53  -0.4019000
2  2018-08-28 AA     1         60   0.2023000
3  2018-09-07 AA     1         74   0.7184000
4  2018-10-09 AA     1         84  -0.2732000
5  2018-10-18 AA     1         90  -0.0516000
6  2018-11-03 AA     2         36  -0.0772000
7  2018-11-28 AA     1        119  -0.5267000
8  2019-01-04 AA     1        144  -0.5859000
9  2019-01-08 AA     1        105   0.2732000
10 2019-01-10 AA     1         99   0.0000000
11 2019-01-16 AA     5         37  -0.2084000
12 2019-01-23 AA     1         96   0.0000000
13 2019-01-24 AA     1        115   0.0000000
14 2019-01-25 AA     1        138   0.7640000
15 2019-02-01 AA     1        131   0.1531000
16 2019-02-04 AA     1        115   0.0000000
17 2019-02-28 AA     1        128  -0.0387000
18 2019-03-08 AA     3         55   0.2400333
19 2019-03-09 AA     1         65   0.2406000
20 2019-03-10 AA     1         31   0.8201000

In [77]:
first = min(wsb.sentiment$Date)
last = max(wsb.sentiment$Date)
last - first
paste(first, ",", last)
length(unique(wsb.sentiment$Ticker))

Time difference of 1177 days

[1] "2018-08-01 , 2021-10-21"

[1] 1251

**Explore wikipedia pageviews**

In [80]:
wiki.pageviews = read.csv(wiki.pageviews.path)
wiki.pageviews$Date <- ymd(wiki.pageviews$Date)

In [81]:
first = min(wiki.pageviews$Date)
last = max(wiki.pageviews$Date)
last - first
paste(first, ",", last)
length(unique(wiki.pageviews$Ticker))

Time difference of 1820 days

[1] "2016-10-17 , 2021-10-11"

[1] 954